* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}  
.header{
   
}
.bannar{
    display: flex;
    align-items: center;
    margin: 0 200px;
    padding-bottom: 50px;
    background: url(images/banner/banner3.png);
}
.bannar-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 15px;
    /* text-align: right; */
}

.bannar-des {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 15px;
}
.mid-section{
    margin: 0 200px;
    display: flex;
}
.mid-div{
    display: flex;
}
.mid-down-section{
    display: flex;
    margin: 50px 200px;
    text-align: center;
    gap: 10px;
}